# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.playground
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
m365agents.local.yml
m365agents.playground.yml
appPackage/build
js-utils/

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Dev tool directories
/devTools/

# IDE and logs
.vscode/
*.log

# Jest coverage and performance reports
.coverage/
.jestPerformanceReport.json
.jestPerformanceReport.csv